body {background: #000;}
.textimage-text{color:#ffffff;}
.row2 {margin: 50px auto;}
.pro-cont-title h1 {color: #f56bae !important;}
.detail .tabs-content .content {height: auto!important;}
ul.thumbnails li {border: 1px solid #555555!important;}
.detail .tabs li.tab-title.active a {color: #f56bae; margin-left: -30px; }
.detail .tabs {border-bottom: 1px solid #FFFFFF;}
.speci-title {background: #333;}
.speci-title:before {color:#333;}
.footer-wrap table{background: #000000;}



		ul.thumbnails{
			overflow: hidden;
		}
		ul.thumbnails li{
			 width: 60px;
				cursor: pointer;
				border: 1px solid #000;
				margin: 0 6.5px;
				float: left;
				height: 100%;
				min-height: 1px;
		 }
		 .easyzoom{
		 	 margin-bottom: 20px;
		 }
		 .easyzoom-flyout img{
		 	max-width: unset;
		 }
		 @media only screen and (max-width: 800px){
		 		ul.thumbnails{
		 			width: 100%;
		 		}
		 		ul.thumbnails li{
					width: 22%;
					margin: 1.5%;
		 		}
		 }